{% extends 'GuestBookBundle::layout.html.twig' %}

{% block title %} GuestBook | Home {% endblock %}

{% block content %}

 <form action="{{ path('guest_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ form_rest(form) }}

    <input type="submit" value="Create" />
</form>

    {{ pagerfanta(my_pager,'twitter_bootstrap') }}

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('guest_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.message [0:99] }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('guest_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('guest_delete', { 'id': entity.id }) }}"onclick="if(confirm('do you realy want delete it?')){return true} else {return false}">delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}