{% extends 'GuestBookBundle::layout.html.twig' %}

{% block title %} GuestBook | Home {% endblock %}

{% block content %}

 <form action="{{ path('guest_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }} {{ form_widget(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ form_rest(form) }}

    <input type="submit" value="Create" />
</form>
<hr />

    {{ pagerfanta(my_pager,'twitter_bootstrap') }}

<div>
    {% for entity in entities %}
    <span><em>Guest</em></span>{{ entity.name }}<br />
    <span>Message</span>{{ entity.message [0:99] }}

    <a href="{{ path('guest_show', { 'id': entity.id }) }}">show</a>
    <a href="{{ path('guest_delete', { 'id': entity.id }) }}">delete</a>
    {% endfor %}
</div>

   {#<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('guest_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.message [0:99] }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('guest_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('guest_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table> #}

{% endblock %}