{% extends 'GuestBookBundle::layout.html.twig' %}

{% block title %} GuestBook | Home {% endblock %}

{% block content %}
<form class="registration-form" action="{{ path('guest_create') }}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }} {{ form_widget(form) }}
    <ul>
        <li>{{ form_row(form.name) }}</li>
        <li>{{ form_row(form.email) }}</li>
        <li>{{ form_row(form.message) }}</li>
        <li>{{ form_rest(form) }}</li>
        <li class="submit"><input type="submit" value="Create" /></li>
    </ul>
 </form>

<hr />
<div class="scroll">
    {% for entity in entities %}
    <span><em>guest  </em></span><strong>{{ entity.name }}</strong><br />
    <span>Message  </span>{{ entity.message [0:99] }}<span>...</span><br />
    <div>
        <a href="{{ path('guest_show', { 'id': entity.id }) }}">read</a>
        <a href="{{ path('guest_delete', { 'id': entity.id }) }}">delete</a><br /><br />
    </div>
    {% endfor %}
</div>

<div class="pagerfanta">
     {{ pagerfanta(my_pager,'twitter_bootstrap') }}
</div>

{% endblock %}