{% extends 'GuestBookBundle::layout.html.twig' %}

{% block title %} GuestBook | New Guest {% endblock %}

{% block content %}

<form class="registration-form" action="{{ path('guest_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    <ul>
        <li>{{ form_row(form.name) }}</li>
        <li>{{ form_row(form.email) }}</li>
        <li>{{ form_row(form.message) }}</li>
        <li>{{ form_rest(form) }}</li>
        <li class="submit"><input type="submit" value="Create" /></li>
    </ul>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('guest') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
