{% extends 'GuestBookBundle::layout.html.twig' %}

{% block title %} GuestBook | New Guest {% endblock %}

{% block content %}

<form action="{{ path('guest_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    {{ form_rest(form) }}

    <input type="submit" value="Create" />

</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('guest') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
